.update {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  &__input,
  &__button {
    font-size: 24px;
  }
  &__form {
    display: flex;
    gap: 20px;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  &__text {
    font-size: 24px;
  }
  &__close-btn {
    font-size: 24px;
    cursor: pointer;
  }
}
