.cart {
  width: 873px;
  & h2 {
    text-align: center;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding-top: 20px;
  }
  &__complete-btn {
    margin-top: 10px;
    background-color: #00985f;
    &:hover {
      border-color: #016b44;
    }
  }
  &-item {
    width: 835px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: rgb(59, 59, 59);
    &__subs {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &__btns {
      display: flex;
      gap: 10px;
      align-items: center;
      &-btn {
        width: 40px;
      }
      &-count {
        width: 30px;
        text-align: center;
      }
    }
    &__sub {
      &-total {
        & b {
          color: rgb(117, 245, 175);
        }
      }
      &-wrapper {
        display: flex;
        align-items: center;
      }
      &-img {
        width: 47px;
        height: 47px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          transform: scale(3);
          z-index: 10;
        }
        &-container {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          overflow: hidden;
          transition: 0.3s;
          background-color: rgba(#242424, 0.8);
          opacity: 0;
          z-index: -1;
        }
        &:hover + &-container {
          opacity: 1;
          z-index: 1;
        }
      }
      & b {
        color: rgb(156, 117, 245);
      }
    }
  }
}
