.cart {
  width: 873px;
  & h2 {
    text-align: center;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding-top: 20px;
  }
  &__complete-btn {
    margin-top: 10px;
    background-color: #00985f;
    &:hover {
      border-color: #016b44;
    }
  }
  &-item {
    width: 835px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: rgb(59, 59, 59);
    &__subs {
      display: flex;
      align-items: center;
    }
    &__btns {
      display: flex;
      gap: 10px;
      align-items: center;
      &-btn {
        width: 40px;
      }
      &-count {
        width: 30px;
        text-align: center;
      }
    }
    &__sub {
      &-total {
        & b {
          color: rgb(117, 245, 175);
        }
      }
      & b {
        color: rgb(156, 117, 245);
      }
    }
  }
}
